html body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

#affdex_elements {
  position: absolute;
  top: 100vh - 240px;
  left: 100vw - 3200px;
}
